{% extends 'base.html' %}

{% block content %}
<h2>Irdeto Art Contest</h2>
<div style="color: red">{{ flash }}</div>
<div>Vote for the work you like more than the other one.</div>
<table>
    <tr>
    {% for img in imagess %}
        <td>
            <div th:text="${img.getEntity().getName()}" />
            <img th:src="@{${'data:image/png;base64, ' + img.getBase64Image()}}" alt="" />
            <br />
            <a th:href="@{/vote/{workId}(workId=${img.getEntity().getId()})}" class="button">Vote</a>
        </td>
    {% endfor %}
    </tr>
</table>
{% endblock %}